%div
  %p.pull-right
    %a{href: new_activity_path}
      %span.glyphicon.glyphicon-plus-sign{style: "font-size:1.4em;"}
    %span.glyphicon.glyphicon-cog{style: "font-size:1.4em;"}
- if @activities.present?
  .row
    %table.table
      - @activities.each do |a|
        %tr
          %td
            %h2 #{a.name}
- else
  .jumbotron
    %h5 You have no activities!
    %button.btn.btn-primary.btn-lg.btn-block{:type => "button"} Create one now
