.row
  %table.table
    %tr
      %td
        %h4 &nbsp;
    %tr
      %td
        %a{href: root_path}
          %h4 Back to Home
    %tr
      %td
        %h4 Export Data
    %tr
      %td
        %h4 Share App
    %tr
      %td
        %a{href: edit_user_registration_path}
          %h4 Change User Settings