// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color1{
  background:#428bca;
}
.color2{
  background:#5cb85c;
}
.color3{
  background:#5bc0de;
}
.color4{
  background:#f0ad4e;
}
.color5{
  background:#d9534f;
}
ul.navbar-mobile-bottom{
  li{
    float:left;
    padding:5px 0px;
  }
}