// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.color1{
  background:#428bca;
}
.color2{
  background:#5cb85c;
}
.color3{
  background:#5bc0de;
}
.color4{
  background:#f0ad4e;
}
.color5{
  background:#d9534f;
}
h2, h4{
  color: rgb(62, 62, 63);
}
.glyphicon{
  color: #fff;
  margin:0px 2px;
}
tr{
  background-color: rgb(35, 31, 32);
}
tr.active {
  h2{
    color:#fff !important;
  }
  td{
    background-color: rgb(62, 62, 63) !important;
  }
  span.duration{
    display:inline;
  }
}
td{
  border-top: 1px solid #333 !important;
  border-bottom: 1px solid #333;
}
.center-y{
  vertical-align:middle;
}

.simple_form{
  color:#fff;
}